{% extends "base_users.html" %}
{% block content %}
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
                <div class="row w-100">
                    <div class="col-lg-4 mx-auto">
                        <h2 class="text-center mb-4">Đăng Kí</h2>
                        <div class="auto-form-wrapper">
                            {% if err_msg %}
                                <div class="alert alert-warning">
                                    <h4>{{ err_msg }}</h4>
                                </div>
                            {% endif %}
                            <form id="register" method="post" action="{{ url_for('users.register') }}" enctype="multipart/form-data">
                                {{ form.hidden_tag() }}
                                {{ form.csrf_token }}
                                <div class="form-group">
                                    <div class="input-group">
                                        {{ form.name_dk(class="form-control", placeholder="Trần Văn A", onfocusout="checkName()", onchange='checkName()') }}
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="mdi mdi-check-circle-outline"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span id="message-name" class="text-danger">
                                    </span>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        {{ form.email_dk(class="form-control", placeholder="creativelayers088@gmail.com", onfocusout="checkEmail()", onchange='checkEmail()') }}
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="mdi mdi-check-circle-outline"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span id="message-mail" class="text-danger">
                                    </span>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        {{ form.username_dk(class="form-control", placeholder="User123", onfocusout="checkUsername()", onchange='checkUsername()') }}
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="mdi mdi-check-circle-outline"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span id="message-username" class="text-danger">
                                    </span>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        {{ form.password_dk(class="form-control", placeholder="Abc123!@#", onfocusout="checkPasword()", onchange='checkPassword()') }}
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="mdi mdi-check-circle-outline"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span id="message-password" class="text-danger">
                                    </span>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        {{ form.confirm(class="form-control", placeholder="Confirm Password") }}
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i id="check" class="mdi mdi-check-circle-outline"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="text-center" id="message">
                                        {% if form.errors == {'confirm': ['Field must be equal to password.']} %}
                                            <div class="alert alert-info alert-dismissible">Sai mật khẩu xác nhận</div>
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="form-group">
{#                                    {{ form.submit(class="btn btn-primary submit-btn btn-block") }}#}
                                    <button type="button" class="btn btn-primary submit-btn btn-block" id="bt-register"
                                            onclick="submitFormRegister()">
                                        Tạo tài khoản
                                    </button>
                                </div>
                                <div class="text-block text-center my-3">
                                    <span class="text-small font-weight-semibold">Đã có tài khoản ?</span>
                                    <a href="{{ url_for('users.login') }}" class="text-black text-small">Đăng nhập</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
{% endblock %}

{% block tail_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $('#password_dk, #password-repeat').on('keyup', function () {
            if ($('#password_dk').val() == $('#password-repeat').val()) {
                $('#check').removeClass("mdi-check-circle-outline");
                $('#check').addClass("mdi-check-circle");
            }
        });
    </script>
{% endblock %}