{% extends 'admin/master.html' %}

{% if current_user.is_authenticated and current_user.user_role != ADMIN %}
    {% block body %}
        <div class="row">
            <h1>Xin chào {{ current_user.username }}!</h1>
            <p class="lead">
{#                Customize the layout#}
            </p>
            <p>
            <h3 class="text-danger">Hãy đăng nhập với tài khoản admin để sử dụng các chức năng quản lý</h3>
            </p>
            <a class="btn btn-primary" href="{{ url_for('users.login') }}"><i class="glyphicon glyphicon-chevron-left"></i> Đăng nhập</a>
        </div>
    {% endblock %}
{% endif %}